<div  *ngIf="post && members">
<!--div class="col-md-8 col-sm-8 col-lg-8"-->
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 pull-left">
            <div class="media-left" *ngIf="profilepic">
              <img id="profilePic" class="media-object img-rounded" [src]="profilepic" alt="...">
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                <a routerLink='../{{members.publisher._id}}'>
                 <b> {{members.publisher.firstName}} {{members.publisher.lastName}} </b> </a>
                <span *ngIf="members.tagged?.length > 0">
                      <span class="text-muted"> with </span>
                <a routerLink='../{{members.tagged[0]._id}}'>
                      {{ members.tagged[0].firstName }} {{ members.tagged[0].lastName }} 
                      </a>
                <span *ngIf="members.tagged?.length == 2">
                        <span class="text-muted"> and </span>
                <a routerLink='../{{ members.tagged[1]._id }}'>
                        {{ members.tagged[1].firstName }} {{ members.tagged[1].lastName }}
                        </a>
                </span>
                <span *ngIf="members.tagged?.length > 2">
                       <span class="text-muted"> and </span>
                <app-userlist [str]='others' [taggedList]="members.tagged.slice(1)"></app-userlist>
                </span>
                </span>
              </h4>
              <h4> <b> {{post.title}} </b> </h4>
              <small class="text-muted">  {{date | date:'mediumDate'}} at  {{date | date:'shortTime'}} </small>
            </div>
          </div>
          <div *ngIf="showmap" id="map" class="col-md-4 col-sm-6 pull-right">
            <agm-map #map [zoom]="zoom" [latitude]="latitude" [longitude]="longitude" (mapClick)='mapClicked($event)'>
              <agm-marker *ngIf="marker" [latitude]="marker.lat" [longitude]="marker.lng">
              </agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
      </div>
      <div class="panel-body">
        <div *ngFor="let postData of post.data; let i=index">
          <div *ngIf="i < maxElements || showMoreElements">
          <div *ngIf="postData.text">
              <pre><p>{{postData.text}}</p></pre>
          </div>
          <div *ngIf="postData.imgsUrl">
          <app-gallery [maxPictures] = 2 [datasource]='postData.imgsUrl'></app-gallery>
          </div>
        </div>
        <div *ngIf="i == maxElements && !showMoreElements">
          <button class="btn btn-link" (click)="showMoreElements = true"> show more </button>
        </div>
         <div *ngIf="i == post.data?.length-1 && showMoreElements">
          <button class="btn btn-link" (click)="showMoreElements = false"> show less </button>
        </div>
        </div>
        <hr>
        <div class="row">
          <div id = "Like" class= "col-sm-2 col-md-2 col-lg-2">
          <button (click)='like()' class="btn-link"> <div class="textBlack"> <b> <span [class]='likeIcon'></span> {{likeText}}</b> </div>
          </button><span class="badge">{{post.likes?.length}}</span>
          </div> 
          <div id= "comment" class= "col-sm-3 col-md-3 col-lg-3">
            <button class="btn-link" (click)='openComments()'> <div class="textBlack"><b> <span class="glyphicon glyphicon-comment"></span> comment </b> </div>
            </button> <span class="badge">{{post.comments?.length}}</span>
          </div>
          <div id= "deletePost" *ngIf="post.userId == currentUser._id" >
            <button class="btn-default pull-right" (click)='remove()'> delete
          </button>
          </div>
        </div>
      </div>
      <div [hidden]='!showComments' class="panel-footer">
        <div class="media">
          <div class="media-left media-top">
            <a href="#">
              <img id="coomentpic" *ngIf='currentUserprofilepic' class="media-object" [src]="currentUserprofilepic">
            </a>
          </div>
            <div class="media-body">
                 <textarea cols="85%" autofocus rows="3" [(ngModel)]="commentText" #commentInput placeholder="write your comment.." (keydown.enter)="writeComment();false"></textarea>
           </div>
          <ul class="list-unstyled">
              <li *ngFor="let comment of post.comments| slice:start:end; let i = index;">
                <app-comment [comment]='comment'></app-comment>
              <span *ngIf="i + 1 == end && i < post.comments?.length-1">
                <button class="btn btn-link" (click)="end=end+2"> load more.. </button>
                </span>
              </li>
          </ul>  
      </div>
    </div>
  <!--/div-->
</div>