<div class="col-md-6 col-md-offset-3">
    <h1>Hi {{currentUser.firstName}}!</h1>
    <p>You're logged in with the MEAN Stack & Angular 2!!</p>
    <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
         <a routerLink = {{user._id}} > {{user.username}} </a> ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user.username)">Delete</a>
        </li>
    </ul>

    <h3>posts:</h3>
    <ul>
        <li *ngFor="let post of posts">
            title: {{post.title}} , id: {{post._id}} - <a (click)= "deletePost(post._id)"> Delete </a>
        </li>
        </ul>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>