<div class="col-md-8">
    <h1>Hi {{currentUser.firstName}}!</h1>
    <p>You're logged in with the MEAN Stack & Angular 2!!</p>
    <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
         <a routerLink = {{user._id}} > {{user.username}} </a> ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user.username)">Delete</a>
        </li>
    </ul>

    <h3>posts:</h3>
    <ul>
        <li *ngFor="let post of posts">
            <a (click)= "deletePost(post._id)"> Delete </a>
            <app-post [post]='post'></app-post>
        </li>
        </ul>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>

<button type="button" class="btn btn-default" (click)="modal.open()">new post</button>

<modal #modal  >
    <modal-header [show-close]="true">
        <h4 class="modal-title">new post</h4>
    </modal-header>
    <modal-body>
        <app-post-form></app-post-form>
    </modal-body>
    <!-- window.angularComponentRef.zone.run(function () { window.angularComponentRef.componentFn(10)}) -->
    
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-primary" [disabled]="checkValid()" (click)="submit()" (click)= "modal.close()">post</button>
    </modal-footer>
</modal>

