
<div class="wrapper">
  <!-- <div class="container">-->
  <header id="header">
    <div class="profile-banner">
    </div>
      <nav class="navbar navbar-default" *ngIf="userProfile">
        
          <!-- Brand and toggle get grouped for better mobile display navbar-default   ProfileCanopy-navbar u-boxShadow -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img class="img-responsive" src="https://pbs.twimg.com/profile_images/464738694918713345/ILxXcRex_400x400.jpeg"></a>
            <span class="site-name">{{userProfile.firstName}} {{userProfile.lastName}}</span>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling bs-example-navbar-collapse-1-->
          <div class="collapse navbar-collapse" id="mainNav">
            <ul class="nav main-menu navbar-nav">
              <li class="active"><a href="#">
                <span class="nav-label">Posts</span>
                <span class="sr-only">(current)</span>
                <span class="nav-label-val">{{userProfile.posts?.length}}</span></a></li>
              <li><a href="#">
                <span class="nav-label">Following</span>
                <span class="nav-label-val">{{userProfile.following?.length}}</span></a></li>
              <li><a href="#">
                <span class="nav-label">Followers</span>
                <span class="nav-label-val">{{userProfile.followers?.length}}</span></a></li>
            </ul>
            <button class="btn btn-default pull-right" id="btn-follow">{{following}}</button>
          </div><!-- /.navbar-collapse -->
      </nav>
    
  </header>
</div>





<!-- 
<div *ngIf="userProfile" class="main">
  <header>
    <figure class="profile-banner" >
      <img src="" alt="Profile banner" />
    </figure>
    <figure class="profile-picture">
      <img ng-src = "getProfilePic()">
    </figure>
    <div class= "profile-name">
       <a routerLink = "/{{userProfile._id}}" >
        {{userProfile.firstName}} {{userProfile.lastName}}
        </a>
      </div>
    <div class="profile-stats">
      <ul>
        <li> Posts <span > {{userProfile.posts?.length}}  </span> </li>
        <li> Following <span> {{userProfile.following?.length}} </span> </li>
        <li> Followers <span> {{userProfile.followers?.length}} </span> </li>
        <li> Likes <span> {{userProfile.likes}}  </span> </li>
        <li> taggedIn <span> {{userProfile.taggedPosts?.length}} posts </span> </li>
      </ul>
       <div *ngIf="currentUser._id != userProfile._id">
      <button [disabled]="loading" class="btn btn-primary" (click)="follow()">
                {{following}} {{userProfile.firstName}}
      </button>
     </div>
    </div>
  </header>
</div>


-->
