.navbar{
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 0;
    border:none;
        font-family: 'Open Sans Condensed', sans-serif, sans-serif;
}

.ProfileCanopy-header{
    margin-top: 0px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,400,700);

body{
    background:#e9eaed;
	}
    
h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans Condensed', sans-serif, sans-serif;
}

li{
    display: inline;
}

.list-group-item{
    float: left;
}

#header{
	border:1px solid #ddd;
	margin-bottom:20px;
	}

.navbar-brand{
width:160px;
height:160px;
float:left;
padding:0;
margin-top:-130px;
overflow:hidden;
border:3px solid #eee;
margin-left:15px;
background:#333;
text-align:center;
line-height:160px;
color:#fff !important;
font-size:2em;
    -webkit-transition:  all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition:  all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out ;

	}
	
	
.site-name{
	color:#fff;
	font-size:2.4em;
	float:left;
	margin-top:-65px !important;
	margin-left:15px;
    font-family: 'Open Sans Condensed', sans-serif, sans-serif;
    text-shadow: 1px 1px black;

	}	
.site-description{
	color:#fff;
	font-size:1.3em;
	float:left;
	margin-top:-30px !important;
	margin-left:15px;
	}
	
.main-menu{
	position:absolute;
	left:190px;
	}	

	
	
@media (max-width: 768px) {
.navbar-brand{
    max-width: 100px;
	max-height:100px;
	float:left;
	margin-top:-65px;
	margin-left:15px;
	-webkit-transition:  all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition:  all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out ;
  }
  

  


.navbar{
	border-radius:0;
    margin-bottom:0;
	border:none;
	}
	
.main-menu{
	left:0;
	position:relative;
	}
}

@media (max-width: 490px) {
	.site-name{
	color:#fff;
	font-size:1.5em;
	float:left;
	line-height:20px;
	margin-top:-100px !important;
	margin-left:125px;
	}	
.site-description{
	color:#fff;
	font-size:1.3em;
	float:left;
	margin-top:-80px !important;
	margin-left:125px;
	}
	}

.profile-banner{
    box-shadow: #999 1px 1px 3px 1px;
    height:200px;
    background-color: lightsalmon;
}

#btn-follow{
    margin-block-start: 7px;
}



.nav-label{
    font-weight: bold;
    font-size: 12px;
}

.nav-label-val{
    margin-block-start: 3px;
    padding-top: 3px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
modal {
    overflow:hidden;
    position: fixed;
}




a span{
    display: block;
    line-height: 0.8;
}

.container{
    margin-left: 25px;
}

.whiteLinkText{
    color: white;
}

.card-item{
    display: inline-block;
}

app-user-card{
    display: inline-block;
}

.Grid{
    display: block;
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-left: 40px;
    
}

.Grid--withGutter {
    margin: 0 -5px;
}

.Grid-cell {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: top;
    width: 100%;
}
#all-user-cards {
    display: flex;
}
#followers-cards{
    display: flex;
}
.user-card{
    left: 10px;
}

.u-size1of3, .u-size2of6, .u-size4of12 {
    width: 33.33333333333333%!important;
}
.u-size2of3, .u-size4of6, .u-size8of12 {
    width: 66.66666666666666%!important;
}

#gofucingright{
    left: 200px;
    display: flex;
}

.card-columns {
  @include media-breakpoint-only(md) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}