<div *ngIf="userProfile" class="main">
  <header>
    <figure class="profile-banner" >
      <img src="" alt="Profile banner" />
    </figure>
    <figure class="profile-picture">
      <img ng-src = "getProfilePic()">
    </figure>
    <div class= "profile-name">
       <a routerLink = "/{{userProfile._id}}" >
        {{userProfile.firstName}} {{userProfile.lastName}}
        </a>
      </div>
    <div class="profile-stats">
      <ul>
        <li> Posts <span > {{userProfile.posts?.length}}  </span> </li>
        <li> Following <span> {{userProfile.following?.length}} </span> </li>
        <li> Followers <span> {{userProfile.followers?.length}} </span> </li>
        <li> Likes <span> {{userProfile.likes}}  </span> </li>
        <li> taggedIn <span> {{userProfile.taggedPosts?.length}} posts </span> </li>
      </ul>
       <div *ngIf="currentUser._id != userProfile._id">
      <button [disabled]="loading" class="btn btn-primary" (click)="follow()">
                {{following}} {{userProfile.firstName}}
      </button>
     </div>
    </div>
  </header>
</div>