
    <!-- List group -->
<div class="userlist" *ngIf="taggedList">
<div class="panel panel-default">
  <div class="panel-heading">
      <button (click)="modal.close()" type="button" class="close pull-right" aria-label="Close"><span aria-hidden="true">&times;</span></button><br>
    </div>
    <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let user of taggedList; let i=index">
        <div class="row" >
        <div class="col-md-10 col-sm-10">
          <div class="media">
            <div class="media-left">
                <img class="media-object" [src]="getProfile(user)">
            </div>
            <div class="media-body">
              <h4 class="media-heading"> <a [routerLink]="['/profiles', user._id]"> {{user.firstName}} {{user.lastName}} </a> </h4>
              <div class="text-muted"> {{user.followers.length}} followers </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 pull-right" *ngIf="showFollow(user)">
          <button id="follow" [disabled]="loading" (click)='follow(user)' class="btn btn-info"> follow </button>
        </div>
        </div>
      </li>
    </ul>
    </div>
  </div>
</div>