<a (click)="modal.open()"> {{str}}  </a>

<modal #modal>
  <modal-body>
    <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let user of taggedList; let i=index">
        <div class="row" >
         <div *ngIf="i==0">
           <button (click)="modal.close()" type="button" class="close pull-right" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           </div>
        <div *ngIf="i>0">
        <div class="col-md-10 col-sm-10">
          <div class="media">
            <div class="media-left">
                <img class="media-object" [src]="getProfile(user)">
            </div>
            <div class="media-body">
              <h4 class="media-heading"> <a routerLink='../{{user._id}}'> {{user.firstName}} {{user.lastName}} </a> </h4>
              <div class="text-muted"> {{user.followers.length}} followers </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 pull-right" *ngIf="showFollow(user)">
          <button id="follow" [disabled]="loading" (click)='follow(user)' class="btn btn-info"> follow </button>
        </div>
        </div>
        
        </div>
      </li>
    </ul>
  </modal-body>
</modal>