<div *ngIf="userProfile" class="main">
  <header>
    <figure class="profile-banner" >
      <img src="" alt="Profile banner" />
    </figure>
    <figure class="profile-picture" [style.background-image]="getProfilePic()">
    </figure>
    <div class= "profile-name">
       <a href = {{userProfile._id}} >
        {{userProfile.firstName}} {{userProfile.lastName}}
        </a>
      </div>
    <div class="profile-stats">
      <ul>
        <li> Posts <span> {{userProfile.posts?.length}}  </span> </li>
        <li> Following <span> {{userProfile.following?.length}} </span> </li>
        <li> Followers <span> {{userProfile.followers?.length}} </span> </li>
        <li> Likes <span> {{userProfile.likes}}  </span> </li>
      </ul>
      <div *ngIf="currentUser._id != userProfile._id">
        <div *ngIf="!following">
          <a (click)="follow()" class="follow">
                Follow {{userProfile.firstName}}
          </a>
        </div>
        <div *ngIf = "following">
          <a (click)="unfollow()" class="follow">
          Unfollow {{userProfile.firstName}}
      </a>
        </div>
      </div>
    </div>
  </header>
</div>