 .imageContainer {
       width:191px;
       height:146px; 
       background-position:center;
       margin:2px 0px;
       box-shadow:#999 1px 1px 3px 1px; 
       cursor: pointer;
       background-repeat: no-repeat;
       background-size: cover;
 }



 .test {
     color: white;
     text-shadow: 1.5px 1.5px black; 
 }

 li { 
    display:inline; 
}

ul{
    display: flex;
}
.tn{ 
    margin:2px 0px;
    box-shadow:#999 1px 1px 3px 1px; 
    cursor: pointer 
}

.list-group-item {
    float: left;
}
