<div class="container">
  <div class="panel panel-default">
  <div class="panel-heading">edit profile</div>
  <div class="panel-body">
    
    
<div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title">edit profile picutre</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">edit personal informatione</h3></div>
  <div class="panel-body">
    Panel content
  </div>
</div>



  </div>
</div>
</div>